body {
  padding-top: 80px; 
}
html, body {
  height: 100%; 
  margin: 0;
  font-family: Arial, sans-serif; 
}

body.light {
  background-image: url('./assets/1670049462_1-kartinkin-net-p-krutoi-belii-fon-krasivo-1.jpg'); /* Фон для светлой темы */
  background-size: cover; /* Покрытие всего экрана */
  background-attachment: fixed; /* Фон фиксирован */
  background-repeat: no-repeat;
  background-color: #ffffff;
  color: #333333;
}

/* Тёмная тема */
body.dark {
  background-image: url('./assets/dark.jpg'); /* Фон для тёмной темы */
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #121212;
  color: #eeeeee;
}

/* Общие стили для header и footer */
header, footer {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

main {
  flex: 1; 
}